{$CADDY_SITE_ADDRESS:https://localhost} {
	tls internal
	encode zstd gzip

	handle_path /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
